<!DOCTYPE html>
<html>
<head>
	<title>View Production</title>
	<link rel="stylesheet" type="text/css" href="includes/tableStyle.css">
</head>

<body>
	<center>

	<h2>Production Table</h2>
	<form>
	<table>
		<tr>
			<th>Cow ID</th>
			<th>Cow Name</th>
			<th>Quantity Produced</th>
		</tr>
		<tr>
			<td>EU001</td>
			<td>lelmet</td>
			<td>20L</td>
		</tr>

		<tr>
			<td>EU002</td>
			<td>Cheptilit</td>
			<td>18L</td>
		</tr>
		<tr>
			<td>EU003</td>
			<td>Maua</td>
			<td>15L</td>
		</tr>
		<tr>
			<td>EU004</td>
			<td>Lelkina</td>
			<td>24L</td>
		</tr>
		<tr>
			<td>EU005</td>
			<td>Susana</td>
			<td>15L</td>
		</tr>
		

		
	</table>

	</form>
	</center>
</body>
</html>